dockerhub_username: "your-dockerhub-username"
dockerhub_token: "dckr_pat_xxxxxxxxxxxxxxxxxxxx"
age_key: |
  # created: 2025-12-21T18:41:41-08:00
  # public key: public_key
  secret_key
github_token: ghp_token
github_owner: "your-github-username"
github_repo: "your-repo-name"
flux_cluster_path: "./cluster"