PM_API_TOKEN_ID = ""
PM_API_TOKEN_SECRET = ""
PM_HOST = "node-hostname-or-ip"
PM_DOMAIN = "cluster-domain"
PM_SERVER_URL = "node-ip:8006/api2/json"
SSH_KEYS_FILE = "ssh-public-key-file"
CI_USER = "username"
CI_PASSWORD = ""
VM_DEFINITIONS = [
    {
        name = "vm-name"
        target_node = "target-node-hostname"
        vmid = VM_ID
        template = "name-of-template-to-clone"
        cpu_cores = NUM_CPU_CORES
        cpu_sockets = NUM_CPU_SOCKETS
        memory = MEMORY_IN_MB
        intermediate_storage_location = "storage-location-for-intermediate-disk"
        final_storage_location = "target-storage-for-vm-disk"
        final_storage_size = "vm-disk-size-in-G"
        ip0v4 = "vm-nic0-ip-address-with-cidr"
        gw0 = "nic0-gateway-ip-address"
        ip1v4 = "vm-nic1-ip-address-with-cidr"
        gw1 = "nic1-gateway-ip-address"
        cloudinit_disk_storage = "storage-location-for-cloudinit-drive"
        tags = "tags-separated-by-commas"
    },
    ...
]