---
- name: Initialize kubeadm master
  become: yes
  command: |
    kubeadm init
      --control-plane-endpoint={{ ansible_host }}
      --node-name {{ inventory_hostname }}
      --pod-network-cidr=10.244.0.0/16
  args:
    creates: /etc/kubernetes/admin.conf

- name: Read admin kubeconfig as root
  become: yes
  slurp:
    src: /etc/kubernetes/admin.conf
  register: admin_kubeconfig_raw

- name: Ensure .kube directory exists
  become: false
  file:
    path: "{{ ansible_env.HOME }}/.kube"
    state: directory
    mode: '0755'

- name: Export kubeconfig for workers
  set_fact:
    kube_join_admin_conf: "{{ admin_kubeconfig_raw.content | b64decode }}"

- name: Install kubeconfig for user
  become: false
  copy:
    content: "{{ admin_kubeconfig_raw.content | b64decode }}"
    dest: "{{ ansible_env.HOME }}/.kube/config"
    mode: '0644'

- name: Install Flannel CNI
  command: kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml

- name: Get kubeadm join command
  shell: kubeadm token create --print-join-command
  register: kube_join_cmd

- name: Set kubeadm join command fact
  set_fact:
    kube_join_command: "{{ kube_join_cmd.stdout }}"