---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  chart:
    spec:
      chart: traefik
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: traefik-repo
      version: ">=28.0.0"
  interval: 1m0s
  install:
    timeout: 30m
    remediation:
      retries: 3
  upgrade:
    timeout: 30m
  values:
    deployment:
      replicas: 1
    providers:
      kubernetesIngress:
        enabled: true
        ingressClass: traefik
      kubernetesGateway:
        enabled: true
      kubernetesCRD:
        enabled: false
    ingressClass:
      enabled: true
      isDefaultClass: false
    service:
      type: LoadBalancer
    logs:
      general:
        level: INFO
