[defaults]
inventory = inventory_file
roles_path = roles
remote_user = ci_user_name
private_key_file = path_to_private_key
host_key_checking = False

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False