apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: config
  namespace: flux-system
spec:
  interval: 5m
  path: ./cluster/config
  prune: true
  wait: true
  force: true
  timeout: 20m
  retryInterval: 30s
  dependsOn:
    - name: core
  sourceRef:
    kind: GitRepository
    name: flux-system
  decryption:
    provider: sops
    secretRef:
      name: sops-age