- name: Join cluster as worker
  become: yes
  shell: "{{ hostvars[groups['kube-master'][0]].kube_join_command }}"
  args:
    creates: /etc/kubernetes/kubelet.conf

- name: Ensure .kube directory exists for SSH user
  become: false
  file:
    path: "{{ ansible_env.HOME }}/.kube"
    state: directory
    mode: '0755'

- name: Install kubeconfig for user
  become: false
  copy:
    content: "{{ hostvars[groups['kube-master'][0]].kube_join_admin_conf }}"
    dest: "{{ ansible_env.HOME }}/.kube/config"
    mode: '0600'