GITHUB_USER=github_username
GITHUB_TOKEN=ghp_token
GITHUB_REPO=github_repository
GITHUB_BRANCH=github_branch
GITHUB_PATH=path_to_cluster_config
CLUSTER_NAME=cluster_name
CLUSTER_CONFIG=path_to_kind-config.yaml
KUBECTL_WAIT_TIMEOUT=timeout_in_seconds
AGE_KEY="# created: timestamp
  # public key: age_public_key
  AGE-SECRET-KEY-age_secret_key"